@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("HeadUILayout")
<body>

@await Component.InvokeAsync("NavbarUILayout")

@await Component.InvokeAsync("MainCoverUILayout")

@RenderBody()

@await Component.InvokeAsync("Footer")

@await Component.InvokeAsync("Scripts")

</body>
</html>